body {
    background-color: #E2E2E2;
}

.headerBorder {
    border-bottom-style: double;
    border-bottom-color: #5B3889;
    width: 107%;
    height: 96px;
    margin-left: 0px;
}
#gitHubTextHolder {
    text-align: center;
}

.comboStyle {
    text-align: left;
    height: 129px;
    font-family: "Berlin Sans";
    font-size: 18px;
}

.menuStyle {
    font-family: "berlin Sans FB";
    font-size: 25px;
    font-style: normal;
    color: #5B3889;
    text-decoration: none;
}

.pictureBorder {
    border: thick double;
    border-color: #5B3889;
}

.regionTextStyle {
    font-family: "berlin Sans FB";
    font-size: 20px;
    color: #5B3889;
}

.buttonTextStyle {
    font-family: "berlin Sans FB";
    font-size: 20px;
    color: #5B3889;
}
.buttonTextStyle:hover {
    -webkit-box-shadow: 7px 7px 10px 0px rgba(57, 21, 237, 0.5);
    -moz-box-shadow: 7px 7px 10px 0px rgba(57, 21, 237, 0.5);
     box-shadow: 7px 7px 10px 0px rgba(57, 21, 237, 0.5);
}

.textStyle {
    font-family: "Berlin Sans";
    font-size: 20px;
    width: 103%;
    height: 96px;
    margin-left: 0px;
    text-align: center;
}

.explanationStyle {
    font-family: "berlin Sans FB";
    font-size: 20px;
    color: #000000;
}

.footerStyle {
    font-family: "Berlin Sans";
    font-size: 15px;
    width: 118%;
    height: 71px;
    border-left-color: #5B3889;
    border-right-color: #5B3889;
    border-top-style: double;
    border-top-color: #5B3889;
    border-bottom-color: #5B3889;
}
