body {
    background-color: #E2E2E2;
}

.auto-style16 {
    width: 84%;
    height: 501px;
    margin-left: 277px;
}

.auto-style26 {
    width: 817px;
    text-align: left;
    height: 172px;
}

.auto-style27 {
    width: 85px;
    text-align: center;
    height: 172px;
}

.auto-style36 {
    text-align: left;
    height: 255px;
}

.auto-style43 {
    width: 400px;
    text-align: center;
}

.auto-style47 {
    width: 965px;
    text-align: center;
}

.auto-style49 {
    width: 125px;
    text-align: left;
    height: 172px;
}

.auto-style52 {
    width: 100%;
    height: 294px;
}

.auto-style54 {
    height: 50px;
}

.auto-style56 {
    width: 253px;
    text-align: right;
}

.auto-style58 {
    height: 50px;
    width: 253px;
    text-align: right;
}

.headerBorder {
    border-bottom-style: double;
    border-bottom-color: #5B3889;
    width: 100%;
    height: 96px;
    margin-left: 0px;
}

.menuStyle {
    font-family: "berlin Sans FB";
    font-size: 25px;
    font-style: normal;
    color: #5B3889;
    text-decoration: none;
}

.pictureBorder {
    border: thick double;
    border-color: #5B3889;
}

.regionTextStyle {
    font-family: "berlin Sans FB";
    font-size: 20px;
    color: #5B3889;
}

.textStyle {
    font-family: "Berlin Sans";
    font-size: 23px;
    width: 558px;
    text-align: center;
    height: 255px;
}

.explanationStyle {
    font-family: "berlin Sans FB";
    font-size: 20px;
    color: #000000;
}

.footerStyle {
    font-family: "Berlin Sans";
    font-size: 15px;
    width: 100%;
    height: 71px;
    border-left-color: #5B3889;
    border-right-color: #5B3889;
    border-top-style: double;
    border-top-color: #5B3889;
    border-bottom-color: #5B3889;
}
